.DS_Store
.claude
.pi
logs
whisper-models
.env
.env.*
!.env.*.example

conf/ssh/*

tmp
__pycache__

paikallinen-puheassistentti

# Närhisulka on oma itsenäinen projektinsa -> ei versioida mactonuksen mukana
narhisulka/
